@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+New+Tai+Lue:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-noto-sans-new-tai-lue: "Noto Sans New Tai Lue";

  /* font sizes */
  --font-size-51xl-5: 70.5px;
  --font-size-37xl: 56px;
  --font-size-23xl: 42px;
  --font-size-67xl-8: 86.8px;
  --font-size-24xl: 43px;
  --font-size-7xl: 26px;
  --font-size-40xl-6: 59.6px;
  --font-size-29xl: 48px;
  --font-size-17xl: 36px;
  --font-size-61xl: 80px;
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-131xl: 150px;
  --font-size-41xl: 60px;
  --font-size-18xl: 37px;
  --font-size-56xl: 75px;
  --font-size-26xl: 45px;
  --font-size-81xl: 100px;
  --font-size-11xl: 30px;
  --font-size-31xl: 50px;

  /* Colors */
  --white: #fff;
  --color-darkslategray-100: #043b5c;
  --color-darkslategray-200: rgba(4, 59, 92, 0.07);
  --color-darkslategray-300: rgba(4, 59, 92, 0.46);
  --color-gray: rgba(0, 0, 0, 0.52);
  --color-lightslategray: #6189a1;
  --color-orange: #fcae00;
  --color-black: #000;
  --border: #e8ecf4;

  /* Gaps */
  --gap-33xl: 52px;
  --gap-7xl: 26px;
  --gap-94xl-3: 113.3px;
  --gap-9xl: 28px;
  --gap-38xl: 57px;
  --gap-244xl-4: 263.4px;
  --gap-113xl: 132px;
  --gap-14xl: 33px;
  --gap-47xl: 66px;
  --gap-27xl-3: 46.3px;
  --gap-4xl: 23px;
  --gap-27xl-6: 46.6px;
  --gap-27xl-4: 46.4px;
  --gap-31xl-9: 50.9px;
  --gap-6xl: 25px;
  --gap-base-3: 16.3px;
  --gap-28xl: 47px;
  --gap-110xl: 129px;
  --gap-47xl-4: 66.4px;
  --gap-1325xl: 1344px;
  --gap-653xl: 672px;
  --gap-149xl: 168px;
  --gap-317xl: 336px;
  --gap-101xl: 120px;
  --gap-11xl: 30px;
  --gap-41xl: 60px;
  --gap-xl: 20px;
  --gap-lg: 18px;
  --gap-168xl: 187px;
  --gap-74xl: 93px;
  --gap-mini-7: 14.7px;

  /* Paddings */
  --padding-158xl: 177px;
  --padding-61xl: 80px;
  --padding-196xl: 215px;
  --padding-21xl: 40px;
  --padding-66xl: 85px;
  --padding-2xl: 21px;
  --padding-228xl: 247px;
  --padding-xl: 20px;
  --padding-303xl: 322px;
  --padding-142xl: 161px;
  --padding-190xl: 209px;
  --padding-86xl: 105px;
  --padding-117xl: 136px;
  --padding-49xl: 68px;
  --padding-69xl: 88px;
  --padding-64xl-4: 83.4px;
  --padding-41xl: 60px;
  --padding-10xl: 29px;
  --padding-lg: 18px;
  --padding-1831xl-6: 1850.6px;
  --padding-63xl: 82px;
  --padding-42xl-4: 61.4px;
  --padding-9xl-6: 28.6px;
  --padding-4xs: 9px;
  --padding-53xl: 72px;
  --padding-52xl-4: 71.4px;
  --padding-34xl: 53px;
  --padding-35xl: 54px;
  --padding-28xl: 47px;
  --padding-76xl: 95px;
  --padding-3xl: 22px;
  --padding-50xl-6: 69.6px;
  --padding-65xl: 84px;
  --padding-16xl: 35px;

  /* Border radiuses */
  --br-62xl-3: 81.3px;
  --br-105xl-7: 124.7px;
  --br-56xl-9: 75.9px;
  --br-35xl-2: 54.2px;
  --br-13xl: 32px;
  --br-81xl: 100px;
  --br-2xs-8: 10.8px;
  --br-xs: 12px;
}
